.humanizing {
background-color: #2D2641;
color: white;
}
.were {
  color: #2C2830;
  font-size: 72px;
}
.snap {
  font-size: 28px;;
}
.chaqmoq {
  font-size: 28px;
  line-height: 38px;
}
.people {
  font-size: 28px;
}
.find {
  background-color: #2D2641;
  font-size: 56px;
  color: #FFFFFF;
}
.linklar a {
  text-decoration: none;
  list-style: none;
}
.links {
  text-decoration: none;
  list-style: none;
}
.link-help {
  text-decoration: none;
  list-style: none;
}
.link-contact{
  text-decoration: none;
  list-style: none;
}
.link-others {
  text-decoration: none;
  list-style: none;
}
.link-how a {
  text-decoration: none;
}
.linklar li {
  list-style: none;
}
.snap-dollar-odam {
  list-style: none;
}


































